@tailwind base;
@tailwind components;
@tailwind utilities;

.showcase {
  background-image: url("./img/Homepage-Model-Y-Global-Desktop.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
